<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Course</h1>
<div class="text-bg-danger" th:if='${hasError}' th:text="${error}">

</div>
<form method="post" th:action="@{/courses/add}">
<label for="name">Name</label>
<input id="name" name="name" type = "text" th:value="${course!=null? course.getName() : ''}">
<label for="description">Description</label>
<input id="description" name="description" type = "text" th:value="${course!=null? course.getDescription():''}">
<select name="id" >

    <option th:each="teacher : ${teachers}" th:value="${teacher.getId()}"
            th:selected="${course!=null && course.getTeacher()!=null?
            teacher.getId().equals(course.getTeacher().getId()):
            teacher.getId().equals(teachers.stream().findFirst().get().getId())}">
        <span th:text="${teacher.getName()}"></span>
    </option>
    <option th:selected="${course==null || course.getTeacher()==null?true:false}" th:value="-1">No teacher</option>

</select>
    <input type="hidden" name="courseId" th:value="${course!=null? course.getCourseId() : -1}">
    <input type="submit" value="Submit">
</form>
</body>
</html>