<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new teacher</title>
</head>
<body>
<form th:action="@{/courses/add-teacher}" th:method="post">
    <label for="name">Name</label>
    <input id="name" name="name" type = "text"/>
    <label for="surname">Surname</label>
    <input id="surname" name="surname" type = "text"/>
    <label for="employment_date">Employment date</label>
    <input type="date" id="employment_date" name="employment_date"/>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>