<!DOCTYPE html>
<html lang="en">
<head>
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">-->

    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
    <script src="../static/js/src/courses.js"></script>
</head>
<body>
<div xmlns:th="http://www.thymeleaf.org">

<header>
    <h1>Courses List</h1>
</header>
<main>
    <div class="text-bg-danger" th:if='${hasError}' th:text="${error}">

    </div>
    <h2>Choose course:</h2>
    <br/>
    <form  th:action="@{/addStudent}" method="post" >

        <table>
            <tr th:each="course: ${courses}" th:id="'course' + ${course.getCourseId()}" >
                <td>
                    <input type="radio" name="courseId" th:value="${course.getCourseId()}">
                    <span th:text="${course.getName()}"></span>
                </td>
                <td>
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="btn btn-primary editBtn" th:href="@{'/courses/edit-form/{id}' (id=${course.getCourseId()})}" > Edit </a>
                        <input type="submit" class="btn btn-sm btn-danger deleteBtn" value="Delete" th:onclick="'javascript:deleteCourse(' + ${course.getCourseId()} + ')'">
                    </th:block>

                </td>
            </tr>
        </table>
        <input type="submit" value="Submit">
    </form>
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="btn btn-secondary" th:href="@{'/courses/add-form'}" id="addNewCourse"> Add new course</a>
        <a class="btn btn-secondary" th:href="@{'/courses/add-teacher-form'}"> Add new teacher</a>
    </th:block>
        <div>
            Show grades
        </div>
        <label for="from">From: </label>
        <input type="datetime-local" placeholder="yyyy-MM-dd'T'HH:mm:ss" id="from" name="from">
        <label for="to">To: </label>
        <input type="datetime-local" placeholder="yyyy-MM-dd'T'HH:mm:ss" id="to" name="to">
        <label for="from-grade">From grade: </label>
        <input type="text" maxlength="1" id="from-grade" name="from_grade">
        <label for="to-grade">To grade: </label>
        <input type="text" maxlength="1" id="to-grade" name="to_grade">
        <a th:onclick="'javascript:showGrades()'">Show</a>
        <ol id="result">

        </ol>

</main>
</div>
</body>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>-->
<script src="/js/src/courses.js"></script>
</html>