<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>WP lab - Students in Course</title>

</head>
<body>
<header>
    <h1>Students in Course </h1>
</header>

<section>
    <div th:text="${course.getName()}"></div>
    <ul th:each="student : ${course.getStudents()}">
        <li><span th:text="${student.getName()}"></span> (<span th:text="${student.getUsername()}"></span>)</li>
    </ul>
    <a href="/listCourses">Back</a>
</section>

</body>
</html>