<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>WP lab - Students in Course</title>

</head>
<body>
<header>
    <h1>Students in Course </h1>
</header>
<form th:action="@{/StudentEnrollmentSummary}">
<select name="dropDownCourse" id="dropDownCourse">
    <div th:each="c : ${courses}">
    <option th:value="${c.getCourseId()}"><span th:text="${c.getName()}"></span></option>
    </div>
</select>
    <input type="submit" value="Submit">
</form>
<section>
    <div th:if="${error!=null}" th:text="${error}">

    </div>
    <div th:text="${course.getName()}"></div>
    <ul th:each="student,iterStat : ${course.getStudents()}">
        <li><span th:text="${student.getName()}"></span> (<span th:text="${student.getUsername()}"></span>) - Grade <span th:text="${grades.get(iterStat.index)}"></span></li>
    </ul>
    <a href="/courses">Back</a>
</section>

</body>
</html>